

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  color: #ffffff;
  border-radius: 5px;
}

button:hover {
  background-color: #334150;
}

.user-address{
  width: 500px;
  height: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
}
